html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-family: verdana;
  background: #aede8a;
  /* background: #b5bd68; */
  /* background: a2e35d; */
  /* background: a4e683; */
  /* background: a7cc5e; */
  /* background: #eec; */
}

input {
  font-family: monospace;
  font-size: 13px;
  border: none;
  background-color: #6ec8e6;
  color: #474949;
}

code {
  font-family: monospace;
}

#connection {
  background: #474949;
  color: #ccc;
  padding: 15px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
}

#connection-info {
  /* display: inline-block; */
  /* padding: 5px 15px; */
}

#connection input {
  font-family: monaco;
  font-weight: bold;
}

#connected {
  color: #c8d;
  background-color: #000;
  /* margin-top: -10px; */
  /* max-width: 0px; */
  /* padding-top: 5px; */
  /* padding-bottom: 5px; */
  padding: 5px 15px;
  margin-left: 5px;
  /* display: inline-block; */
  /* white-space: nowrap; */
  /* overflow: hidden; */
}

#continue {
  color: #a11f1f;
  padding: 3px 10px;
  margin-left: 15px;
  background-color: #fff;
}

#stack {
  overflow: scroll;
}

#frames {
  padding-top: 99px;
  position: absolute;
  right: 0;
  left: 0;
}

#exception {
  padding: 15px;
  background: #a11f1f;
  color: #ccc;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 3;
  top: 53px;
}

.exception-class {
  color: #6ec8e6;
}

.exception-line {
  color: #aede8a;
}

.exception-message {
  color: #aaa;
}

.frame {
  padding-top: 15px;
}

.rotate-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.rotate-180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.frame-interaction {
  display: none;
}

.frame-info {
  padding: 0px 10px 15px;
}

.frame-reveal {
  padding: 10px 5px 0px 0px;
}

.frame-eval {
  padding: 0.5em;
  background: #474949;
  color: #ccc;
  font-family: monospace;
}

.frame-input {
  border: none;
  background: #474949;
  color: #ccc;
  width: 90%;
}

.frame-file {
  color: #a11f1f;
}

.frame-line {
  font-weight: 550;
  color: #8322A3;
}

.frame-namespace {
  color: #474949;
}

.frame-function {
  color: #9c6277;
}

.frame-method {
  color: #d6721a;
}

.locals {
  color: #6ec8e6;
}

.highlight {
  background: #770077;
}

.prompt {
  display: inline;
}